body{
    position: relative;
    padding: 10px 5px;
    margin:15%;
}
.btnn{
    text-align: center;  
}
.btnn button{
    margin: 10px;  
}
.contain{
    
    justify-content: space-around;
    display: flex;
    margin: 20px;
}
.con{
    justify-content: space-around;
    display: flex;

}
.card{
    padding: 5px 5px;
    height: 50px;
    width: 250px;
}
.car{
    display: flex;

}
.arrow{
    margin: 40px;
    padding: 0px;
    color: rgb(255, 4, 4);
}